<section class="container">
	{% for r in results %}
		<div class="container-fluid">
			<div class="col-xs-1">
				{% if r.eis_photo %}
					<br />
					<a href="{{ r.url }}"><img src="{{ r.eis_photo }}" /></a>
				{% endif %}
			</div>
			<div class="col-xs-4">
					<h3 class="h2"><a href="{{ r.url }}" rel="bookmark">{{ r.fname }} {{ r.lname }}</a></h3>
					<strong>{{ r.titles }}</strong><br /><br />
					<strong>Department:</strong> {{ r.department }}<br /><br />
					{{ r.phone }}(ph)<br />
					{{ r.fax }} (fax)<br />
					<a href="mailto:{{ r.email }}">{{ r.email }}</a><br /><br />
					<a href="{{ r.url }}">View Profile</a>
			</div>
		</div>
		<br /><br />
	{% endfor %}

	<h4><a href="/directory/" />Can't find what you are looking for? Click here to go back to the search directory</a></h4>
</section>