<div class="container-fluid">
	<div class="row bios_img">
		{% if bios_quote %}
			<div class="col-xs-3 col-xs-offset-9 bios_quote" style="color:{{ bios_quote_color }}" />
				<strong>{{ bios_quote }}</strong> 
				<br />- {{ bios_name }}
			</div>
		{% endif %}
		<div class="col-sm-12 col-xs-12">{{ bios_img }}</div>
	</div><!--bios_img-->
		
	<div class="row bios_gray">
		<div class="col-sm-8 col-xs-12">
			<h2>{{ bios_name }}</h2>
			{% for title in bios_titles %}
				{{ title }}<br />
			{% endfor %}
		</div>
		<div class="col-sm-4 col-xs-12 bios_gray_red">
			For an appointment: <a href="tel:+81707353627" /><strong>817-0735-DOCS (3627)</strong></a><br />
			{{ bios_department }}<br />
			{{ bios_fphone }}<br />
			<a href="mailto:{{ bios_email }}" />{{ bios_email }}</a><br /><br />	
			<a href="https://profile.hsc.unt.edu/profilesystem/viewprofile.php?pid={{ bios_eis }}" target="_blank" />Click for more profile information</a>		
		</div>
	</div><!--bios_gray-->


<div class="row bios_content">
	<div class="col-sm-6 col-xs-12 bios_white_left">
		{% if bios_spec %}<strong>Clinical specialty:</strong> <i>{{ bios_spec }}</i><br /><br />{% endif %}
		{% if bios_research_interests %}<strong>Research interests:</strong> <i>{{ bios_research_interests }}</i><br /><br />{% endif %}
		{% if bios_biography %}{{ bios_biography }}{% endif %}
	</div>

	<div class="col-sm-6 col-xs-12 bios_white_right">
		{% if bios_biography %}<strong>Academic:</strong><br />{{ bios_biography }}<br /><br />{% endif %}
		{% if bios_biography %}<strong>Honors:</strong><br />{{ bios_biography }}<br />{% endif %}
	</div>	
</div><!--bios_content-->
</div><!--container-->
